<div class="modal-header">
    <h4 class="modal-title" th:text="${edit}? 'Modificar Persona' : 'Registrar Persona'"></h4>
    <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
</div>

<form id="formularioPersonaApi" method="post" action="@{/}" novalidate>
    <div class="modal-body">
        <div class="row mb-3">
            <div class="col-12 col-md-4 mb-2">
                <label class="form-label" for="tipoPersonaSelect">Tipo de Persona</label>
                <select id="tipoPersonaSelect" class="form-select">
                    <option value="" disabled selected>Seleccione tipo</option>
                    <option value="estudiante">Estudiante</option>
                    <option value="docente">Docente</option>
                </select>
            </div>
        </div>
    
        <div id="estudianteFields" style="display: none;">
            <div class="row mb-3">
                <div class="col-12 col-md-4 mb-2">
                    <label class="form-label" for="ruInput">RU</label>
                    <input type="text" name="ru" class="form-control" placeholder="Introduzca RU del estudiante" />
                </div>
                <div class="col-12 col-md-4 mb-2 align-self-end">
                    <button type="submit" class="btn btn-primary">Buscar Estudiante</button>
                </div>
            </div>
        </div>
    
        <div id="docenteFields" style="display: none;">
            <div class="row mb-3">
                <div class="col-12 col-md-4 mb-2">
                    <label class="form-label" for="rdInput">RD</label>
                    <input type="text" name="rd" class="form-control" placeholder="Introduzca RD del docente" />
                </div>
                <div class="col-12 col-md-4 mb-2 align-self-end">
                    <button type="submit" class="btn btn-primary">Buscar Docente</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    manejarEnvioFormulario('#formularioPersonaApi');
    manejarEnvioFormulario('#formularioPersona');
</script>

<script>
    document.getElementById("tipoPersonaSelect").addEventListener("change", function() {
        const tipoPersona = this.value;

        document.getElementById("estudianteFields").style.display = "none";
        document.getElementById("docenteFields").style.display = "none";

        const formulario = document.getElementById("formularioPersonaApi");

        if (tipoPersona === "estudiante") {
            document.getElementById("estudianteFields").style.display = "block";
            formulario.setAttribute("action", "/estudiante/api_estudiante");
        } else if (tipoPersona === "docente") {
            document.getElementById("docenteFields").style.display = "block";
            formulario.setAttribute("action", "/docente/api_docente");
        }
    });
</script>