<div class="modal-header">
    <h4 class="modal-title" th:text="${edit}? 'Modificar Carrera' : 'Registrar Carrera'"></h4>
    <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
</div>
<form id="formularioCarrera" method="post" th:action="${edit}? @{/carrera/modificar-carrera} : @{/carrera/registrar-carrera}" novalidate>

    <input type="hidden" th:if="${edit != null}" th:field="${carrera.id_carrera}">

    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <label class="form-label" for="modalEditUserLastName">Carrera</label>
                <input type="text" th:field="${carrera.nombre_carrera}" class="form-control" placeholder="Introduzca nombre da la carrera" required />
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Porfavor Introduzca la carrera.</div>
            </div>
            <div class="col-12 col-md-6">
                <label for="select2Basic" class="form-label">Facultad</label>
                <select id="select2Basic" class="select2 form-select form-select-lg" data-allow-clear="true" th:field="${carrera.facultad}">
                    <option th:each="facultad : ${listarFacultades}" 
                        th:value="${facultad.id_facultad}" 
                        th:selected="${facultdad == carrera.facultad}"
                        th:text="${facultad.nombre_facultad}">
                    </option>
                </select>
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Debe seleccionar a un Jurado.</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-12">
                <a type="submit" class="btn btn-secondary" style="color: white;" data-bs-dismiss="modal">Cancelar</a>
                <input type="submit" class="btn btn-success" th:value="${edit}? 'Guardar Cambios': 'Guardar Registro'">

            </div>
        </div>
    </div>
</form>

<script>
    manejarEnvioFormulario('#formularioCarrera');
</script>