<div class="modal-header">
    <h4 class="modal-title" th:text="${edit}? 'Modificar Facultad' : 'Registrar Facultad'"></h4>
    <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
</div>
<form id="formularioFacultad" method="post" th:action="${edit}? @{/facultad/modificar-facultad} : @{/facultad/registrar-facultad}" novalidate>

    <input type="hidden" th:if="${edit != null}" th:field="${facultad.id_facultad}">

    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <label class="form-label" for="modalEditUserLastName">Facultad</label>
                <input type="text" th:field="${facultad.nombre_facultad}" class="form-control" placeholder="Introduzca nombre da la facultad" required />
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Porfavor Introduzca la facultad.</div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <label class="form-label" for="modalEditUserFirstName">Sigla</label>
                <input type="text" th:field="${facultad.sigla}" class="form-control" placeholder="Introduzca sigla"
                    required />
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Porfavor Introduzca sigla.</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-12">
                <a type="submit" class="btn btn-secondary" style="color: white;" data-bs-dismiss="modal">Cancelar</a>
                <input type="submit" class="btn btn-success" th:value="${edit}? 'Guardar Cambios': 'Guardar Registro'">

            </div>
        </div>
    </div>
</form>

<script>
    manejarEnvioFormulario('#formularioFacultad');
</script>