<div class="modal-header">
    <h4 class="modal-title" th:text="${edit}? 'Modificar Voto' : 'Registrar Voto'"></h4>
    <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
</div>

<form id="formularioVoto" method="post" th:action="@{/voto/registrar-voto-unico}" novalidate>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 mb-2">
                <label class="form-label">VOTOS A PDC</label>
                <input type="number" name="cantidad_nulo" class="form-control" required placeholder="Introduce cantidad"/>
            </div>
            <div class="col-md-6 mb-2">
                <label class="form-label">VOTOS A LIBRE</label>
                <input type="number" name="cantidad_nulo" class="form-control" required placeholder="Introduce cantidad"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-2">
                <label class="form-label">VOTOS BLANCO</label>
                <input type="number" name="cantidad_blanco" class="form-control" required placeholder="Introduce cantidad"/>
            </div>
            <div class="col-md-6 mb-2">
                <label class="form-label">VOTOS NULO</label>
                <input type="number" name="cantidad_nulo" class="form-control" required placeholder="Introduce cantidad"/>
            </div>
            <div class="col-md-6 mb-2">
                <label class="form-label">RECINTO</label>
                <select class="form-select" name="id_facultad" required>
                    <option th:each="res : ${resintos}"
                            th:value="${res.id_carrera}"
                            th:text="${res.nombre_carrera}">
                    </option>
                </select>
            </div>
            <div class="col-md-6 mb-2">
                <label class="form-label">N° MESA</label>
                <select class="form-select" name="id_mesa" required>
                    <option th:each="mesa : ${listarMesa}"
                            th:value="${mesa.id_mesa}"
                            th:text="${mesa.nombre_mesa}">
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-success" value="Guardar Votos">
    </div>
</form>

<script>
    manejarEnvioFormulario('#formularioVoto');
</script>