<div class="modal-header">
    <h4 class="modal-title" th:text="${edit}? 'Modificar Voto' : 'Registrar Voto'"></h4>
    <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
</div>
<form id="formularioVoto" method="post"
    th:action="${edit}? @{/voto/modificar-voto} : @{/voto/registrar-voto}" novalidate>
    <input type="hidden" th:if="${edit != null}" th:field="${voto.id_voto}">
    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-md-6">
                <label for="select2Basic" class="form-label">Tipo Voto</label>
                <select id="select2Basic" name="tipoVoto" class="select2 form-select" data-allow-clear="true">
                    <option value="1">Nullo</option>
                    <option value="2">Vacio</option>
                    <option value="3">Correcto</option>
                </select>
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Debe seleccionar a un tipo</div>
            </div>
            <div class="col-12 col-md-6">
                <label for="select2Basic" class="form-label">Frente</label>
                <select id="select2Basic" class="select2 form-select" data-allow-clear="true" th:field="${voto.frente}">
                    <option th:each="frente : ${listaFrentes}" 
                        th:value="${frente.id_frente}" 
                        th:selected="${frente == voto.frente}"
                        th:text="${frente.nombre_frente}">
                    </option>
                </select>
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Debe seleccionar a un Jurado.</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-12">
                <a type="submit" class="btn btn-secondary" style="color: white;" data-bs-dismiss="modal">Cancelar</a>
                <input type="submit" class="btn btn-success" th:value="${edit}? 'Guardar Cambios': 'Guardar Registro'">
            </div>
        </div>
    </div>
</form>

<script>
    manejarEnvioFormulario('#formularioVoto');
</script>