<table class="datatables-basic table table-hover" id="data-table2">
    <thead>
        <tr>
            <th>#</th>
            <th>NOMBRE</th>
            <th>TIPO MESA</th>
            <th>HABILITADOS</th>
            <th>REGISTRADOS</th>
            <th>RESTANTES</th>
        </tr>
    </thead>
    <tbody class="animate__animated animate__bounceInDown">
        <tr th:each="mes, index: ${listaMesas}">
            <th th:text="${index.index+1}"></th>
            <th th:text="${mes.nombre_mesa}"></th>
            <th th:text="${mes.tipo_mesa}"></th>
            <th th:text="${mes.habilitados}"></th>
            <th th:text="${mes.registrado}"></th>
            <th th:text="${mes.restante}"></th>
        </tr>
    </tbody>
</table>

<script>
    $('#data-table2').DataTable({
        language: {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script>