<div class="modal-header">
    <h4 class="modal-title" th:text="${edit}? 'Modificar Frente' : 'Registrar Frente'"></h4>
    <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
</div>
<form id="formulariofrente" method="post"
    th:action="${edit}? @{/frente/modificar-frente} : @{/frente/registrar-frente}" novalidate>
    <input type="hidden" th:if="${edit != null}" th:field="${frente.id_frente}">
    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <label class="form-label" for="modalEditUserLastName">C.I.</label>
                <input type="text" th:field="${frente.nombre_frente}" class="form-control" placeholder="Introduzca un nombre"
                    required />
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Porfavor Introduzca un Dato.</div>
            </div>
            
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-12">
                <a type="submit" class="btn btn-secondary" style="color: white;" data-bs-dismiss="modal">Cancelar</a>
                <input type="submit" class="btn btn-success" th:value="${edit}? 'Guardar Cambios': 'Guardar Registro'">

            </div>
        </div>
    </div>
</form>

<script>
    manejarEnvioFormulario('#formulariofrente');
</script>