<div class="modal-header">
    <h4 class="modal-title" th:text="${edit}? 'Modificar Mesa' : 'Registrar Mesa'"></h4>
    <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
</div>
<form id="formularioMesa" method="post"
    th:action="${edit}? @{/mesa/modificar-mesa} : @{/mesa/registrar-mesa}" novalidate>
    <input type="hidden" th:if="${edit != null}" th:field="${mesa.id_mesa}">
    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-md-6 mb-2">
                <label class="form-label" for="modalEditUserLastName">Nombre de la Mesa</label>
                <input type="text" th:field="${mesa.nombre_mesa}" class="form-control"
                    required />
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Porfavor Introduzca el Dato.</div>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <label class="form-label" for="modalEditUserLastName">Habilitados</label>
                <input type="number" th:field="${mesa.habilitados}" class="form-control"
                    required />
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Porfavor Introduzca el Dato.</div>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <label class="form-label" for="modalEditUserLastName">Tipo Mesa</label>
                <select th:field="${mesa.tipo_mesa}" class="form-control" required>
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="ESTUDIANTE">ESTUDIANTE</option>
                    <option value="DOCENTE">DOCENTE</option>
                </select>
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Porfavor Introduzca el Dato.</div>
            </div>
            <div class="col-12 col-md-6">
                <label for="select2Basic2" class="form-label">Carrera</label>
                <select id="select2Basic2" class="select2 form-select form-select-lg" data-allow-clear="true" th:field="${mesa.carrera}">
                    <option th:each="carrera : ${listarCarreras}" th:value="${carrera.id_carrera}"
                        th:selected="${carrera == mesa.carrera}"
                        th:text="${carrera.nombre_carrera}">
                    </option>
                </select>
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Porfavor Introduzca el Dato.</div>
            </div>
            <div class="col-12 col-md-6">
                <label for="select2Basic" class="form-label">Jurado</label>
                <select id="select2Basic" class="select2 form-select form-select-lg" data-allow-clear="true" th:field="${mesa.jurado}">
                    <option th:each="jurado : ${listaJurados}" 
                        th:value="${jurado.id_jurado}" 
                        th:selected="${jurado == mesa.jurado}"
                        th:text="${jurado.persona.nombre}">
                    </option>
                </select>
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Debe seleccionar a un Jurado.</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-12">
                <a type="submit" class="btn btn-secondary" style="color: white;" data-bs-dismiss="modal">Cancelar</a>
                <input type="submit" class="btn btn-success" th:value="${edit}? 'Guardar Cambios': 'Guardar Registro'">
            </div>
        </div>
    </div>
</form>

<script>
    manejarEnvioFormulario('#formularioMesa');
</script>