<h4 class="py-3 mb-4"><span class="text-muted fw-light">Menú /</span> Mesa</h4>

<div id="tablaRegistro"></div>

<div class="modal fade" id="modalFormularioMesa" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="contenidoModalMesa"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        cargarTabla();

    });

    function cargarTabla() {
        $.ajax({
            type: 'POST',
            url: "/mesa/tabla-registros",  // Ruta del metodo del controlador en Spring Boot
            success: function (response) {
                $("#tablaRegistro").html(response);  // Actualiza el contenido del div con la respuesta del servidor
            }
        });
    }

    function cargarFormulario() {
        cargarFormularioAlert("/mesa/formulario", "#contenidoModalMesa", "#formularioMesa");
    }

    function cargarFormularioEdit(id) {
        cargarFormularioEditAlert(id, "/mesa/formulario-edit", "#contenidoModalMesa", "#formularioMesa");
    }

    function eliminar(nombre, id) {
        eliminarRegistroAlert(nombre, id, "/mesa/eliminar",cargarTabla);
    }

</script>

<script>
    $('#data-table').DataTable({
        language: {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script>