<h4 class="py-3 mb-4"><span class="text-muted fw-light">Menú /</span> Mesa</h4>

<div id="tablaRegistro"></div>

<div class="modal fade" id="modalFormularioMesa" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="contenidoModalMesa"></div>
    </div>
</div>

<script>
    $(document).ready(function () {cargarTabla();});

    function cargarTabla() {
        $.ajax({
            type: 'POST',
            url: "/mesa/tabla-registros",
            success: function (response) {
                $("#tablaRegistro").html(response);
            }
        });
    }

    function cargarFormulario() {
        cargarFormularioAlert("/mesa/formulario", "#contenidoModalMesa", "#formularioMesa");
    }

    function cargarFormularioEdit(id) {
        cargarFormularioEditAlert(id, "/mesa/formulario-edit", "#contenidoModalMesa", "#formularioMesa");
    }

    function eliminar(nombre, id) {
        eliminarRegistroAlert(nombre, id, "/mesa/eliminar",cargarTabla);
    }

</script>