<div class="modal-header">
    <h4 class="modal-title" th:text="${edit}? 'Modificar Distrito' : 'Registrar Distrito'"></h4>
    <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
</div>

<form id="formularioDistrito" method="post" th:action="@{/distrito/registrar-distrito}" novalidate>
    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <label class="form-label" for="modalEditUserLastName">Distrito</label>
                <input type="text" th:field="${distrito.nombre}" class="form-control" placeholder="Introduzca nombre del distrito" required />
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Porfavor Introduzca la distrito.</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-success" value="Guardar registro">
    </div>
</form>

<script>
    manejarEnvioFormulario('#formularioDistrito');
</script>